fastapi
uvicorn[standard]
pydantic
pydantic-settings

PyGithub
requests
unidiff

langchain
langgraph
google-generativeai

asyncpg
sqlalchemy[asyncio]
alembic

python-dotenv

pytest
pytest-asyncio
httpx

streamlit